local_conf:
  music_dir: $HOME/Music

#choose whatever name you want such as 'Laptop' etc.
server_name:
  music_dir: $HOME/Music
  #hostname: dynamic if you are using a dynamically assigned IP address
  hostname: 127.0.0.1

  #If ftp is left blank, we use rsync
  ftp:
    port: 21
    user: Jon
    password: password
